.Footer {
  /* background-color: #8097eb; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 40px;
  text-align: center;
  /* line-height: 40px; */
  background-color: #8097eb;
}
.verticalAlignment {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.dontShowFooter {
  opacity: 0;
}
/* 
CROP / CLIP with CSS:
https://bennettfeely.com/clippy/


NEXT ARE USED TO KEEP THE FOOTER ALWAYS ON THE BOTTOM
https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*/
.page-container {
  position: relative;
  min-height: 100vh;
}
.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

/*
  <!DOCTYPE html>
  <html>
   <head>
     <link rel="stylesheet" type="text/css" href="main.css" />
   </head>
  
  <body>
   <div id="page-container">
     <div id="content-wrap">
       <!-- all other page content -->
     </div>
     <footer id="footer"></footer>
   </div>
  </body>
  </html>
  */
